<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nome.label }}<br>
            {{ form.nome(size=32) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        </p>
        <p>
            {{ form.telefone.label }}<br>
            {{ form.telefone(size=32) }}<br>
        </p>
        <p>
            {{ form.endereco.label }}<br>
            {{ form.endereco(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
