<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagamento</title>
</head>
<body>
    <h1>Escolha a Forma de Pagamento</h1>
    <form method="POST">
        <input type="radio" name="forma_pagamento" value="credito"> Cartão de Crédito<br>
        <input type="radio" name="forma_pagamento" value="debito"> Cartão de Débito<br>
        <input type="radio" name="forma_pagamento" value="boleto"> Boleto Bancário<br>
        <input type="submit" value="Pagar">
    </form>
</body>
</html>
